<div class="container">
  <div class="jumbotron mx-auto text-center">
    <h3>Patient List</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
        <div id="chirp-area">
          <!-- Content will go in here -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>