<div class="container">
  <a class="nav-link" aria-current="page" href="/"><button type="button" class="btn-nav btn-md" id="signout-link" >Sign Out</button></a> 
  
  <div class="jumbotron mx-auto text-center">
    
    <h3>Patient List</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
        <div id="chirp-area">
          <!-- Content will go in here -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{{!-- <h1>All Patient</h1>

<ul>
  {{#each Patient}}
  <li>

  </li>
  {{/each}}
</ul> --}}