:root {
    --primary-color: lightblue;
    --secondary-color: #e9e9e9;
}
/* navbar start */
.navbar {
    background: linear-gradient(white, lightblue);
    height: 200px;
    margin-bottom: 50px;
}

.navbar-brand {
    font-size: 55px;
    /* need to include font style here */
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler:hover {
    background-color: var(--secondary-color);
}

.navbar-nav {
    flex-direction: row;
    gap: 10px;
}

.btn-nav {
    background-color: white;
    border: none;
    color: black;
    transition: 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-nav:hover {
    border: solid #e9e9e9 1px;
    background-color: white;
    box-shadow: 1px 0 5px;
}
/* navbar end */