:root {
    --primary-color: lightblue;
    --secondary-color: #E9E9E9;
}
/* navbar start */
.navbar {
    background: linear-gradient(white, lightblue);
    height: 200px;
    margin-bottom: 50px;
}
.navbar>.container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-brand {
    font-family: Cormorant;
    font-size: 75px;
    margin: 0;
    padding: 0;
}
.navbar-brand-log {
    font-family: Cormorant;
    font-size: 100px;
}
.navbar-toggler {
    background-color: white;
}
.navbar-toggler:hover {
    background-color: var(--secondary-color);
}
.navbar-nav {
    flex-direction: row;
    gap: 10px;
}
.btn-nav {
    background-color: white;
    border: none;
    color: black;
    transition: 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
}
.btn-nav:hover {
    border: solid #E9E9E9 1px;
    background-color: white;
    box-shadow: 1px 0 5px;
}
/* navbar end */
/* ------------------ */
/* cards start */
h2 {
    display: flex;
    background: linear-gradient(white, lightblue);
    justify-content: center;
}
.card {
    font-family: Cormorant;
    font-weight: bold;
    margin-bottom: 10px;
}
p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

/* cards end */

.btn-primary {
    margin-top: 10px;
}